/**
 * Hide text while making it readable for screen readers
 * 1. Needed in WebKit-based browsers because of an implementation bug;
 *    See: https://code.google.com/p/chromium/issues/detail?id=457146
 */

.hide-text {
  padding: 0; /* 1 */
  overflow: hidden;
  text-indent: 101%;
  white-space: nowrap;
}

/**
 * Hide element while making it readable for screen readers
 * Shamelessly borrowed from HTML5Boilerplate:
 * https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css#L119-L133
 */
.container {
  max-width: var(--max-width-lg);
  margin-right: auto;
  margin-left: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.hidden {
  display: none;
}

.fill-current {
  fill: currentColor;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

// max width

.max-width-xxxxs {
  max-width: var(--max-width-xxxxs);
}

.max-width-xxxs {
  max-width: var(--max-width-xxxs);
}

.max-width-xxs {
  max-width: var(--max-width-xxs);
}

.max-width-xs {
  max-width: var(--max-width-xs);
}

.max-width-sm {
  max-width: var(--max-width-sm);
}

.max-width-md {
  max-width: var(--max-width-md);
}

.max-width-lg {
  max-width: var(--max-width-lg);
}

.max-width-xl {
  max-width: var(--max-width-xl);
}

.max-width-xxl {
  max-width: var(--max-width-xxl);
}

.max-width-xxxl {
  max-width: var(--max-width-xxxl);
}

.max-width-xxxxl {
  max-width: var(--max-width-xxxxl);
}

.max-width-100\% {
  max-width: 100%;
}

// font-weight

.font-light {
  font-weight: 300;
}

.font-normal {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: bold;
}

// color

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

// sizes text
.text-size-base {
  font-size: var(--text-size-base);
}

.text-md {
  font-size: var(--text-size-md);
}

.text-lg {
  font-size: var(--text-size-lg);
}

.texte-xl {
  font-size: var(--text-size-xl);
}

.text-xxl {
  font-size: var(--text-size-xxl);
}

.text-xxxl {
  font-size: var(--text-size-xxxl);
}

.text-xxxxl {
  font-size: var(--text-size-xxxxl, 2.985em);
}

.text-sm {
  font-size: var(--text-size-sm);
}

.text-xs {
  font-size: var(--text-size-xs);
}

// Margin

.margin-xxxxs {
  margin: var(--space-xxxxs);
}

.margin-xxxs {
  margin: var(--space-xxxs);
}

.margin-xxs {
  margin: var(--space-xxs);
}

.margin-xs {
  margin: var(--space-xs);
}

.margin-sm {
  margin: var(--space-sm);
}

.margin-md {
  margin: var(--space-md);
}

.margin-base {
  margin: var(--space-unit);
}

.margin-lg {
  margin: var(--space-lg);
}

.margin-xl {
  margin: var(--space-xl);
}

.margin-xxl {
  margin: var(--space-xxl);
}

.margin-xxxl {
  margin: var(--space-xxxl);
}

.margin-xxxxl {
  margin: var(--space-xxxxl);
}

.margin-auto {
  margin: auto;
}

.margin-0 {
  margin: 0;
}

.margin-top-base {
  margin-top: var(--space-unit);
}

.margin-top-xxxxs {
  margin-top: var(--space-xxxxs);
}

.margin-top-xxxs {
  margin-top: var(--space-xxxs);
}

.margin-top-xxs {
  margin-top: var(--space-xxs);
}

.margin-top-xs {
  margin-top: var(--space-xs);
}

.margin-top-sm {
  margin-top: var(--space-sm);
}

.margin-top-md {
  margin-top: var(--space-md);
}

.margin-top-lg {
  margin-top: var(--space-lg);
}

.margin-top-xl {
  margin-top: var(--space-xl);
}

.margin-top-xxl {
  margin-top: var(--space-xxl);
}

.margin-top-xxxl {
  margin-top: var(--space-xxxl);
}

.margin-top-xxxxl {
  margin-top: var(--space-xxxxl);
}

.margin-top-auto {
  margin-top: auto;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-base {
  margin-bottom: var(--space-unit);
}

.margin-bottom-xxxxs {
  margin-bottom: var(--space-xxxxs);
}

.margin-bottom-xxxs {
  margin-bottom: var(--space-xxxs);
}

.margin-bottom-xxs {
  margin-bottom: var(--space-xxs);
}

.margin-bottom-xs {
  margin-bottom: var(--space-xs);
}

.margin-bottom-sm {
  margin-bottom: var(--space-sm);
}

.margin-bottom-md {
  margin-bottom: var(--space-md);
}

.margin-bottom-lg {
  margin-bottom: var(--space-lg);
}

.margin-bottom-xl {
  margin-bottom: var(--space-xl);
}

.margin-bottom-xxl {
  margin-bottom: var(--space-xxl);
}

.margin-bottom-xxxl {
  margin-bottom: var(--space-xxxl);
}

.margin-bottom-xxxxl {
  margin-bottom: var(--space-xxxxl);
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-right-base {
  margin-right: var(--space-unit);
}

.margin-right-xxxxs {
  margin-right: var(--space-xxxxs);
}

.margin-right-xxxs {
  margin-right: var(--space-xxxs);
}

.margin-right-xxs {
  margin-right: var(--space-xxs);
}

.margin-right-xs {
  margin-right: var(--space-xs);
}

.margin-right-sm {
  margin-right: var(--space-sm);
}

.margin-right-md {
  margin-right: var(--space-md);
}

.margin-right-lg {
  margin-right: var(--space-lg);
}

.margin-right-xl {
  margin-right: var(--space-xl);
}

.margin-right-xxl {
  margin-right: var(--space-xxl);
}

.margin-right-xxxl {
  margin-right: var(--space-xxxl);
}

.margin-right-xxxxl {
  margin-right: var(--space-xxxxl);
}

.margin-right-auto {
  margin-right: auto;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-left-base {
  margin-left: var(--space-unit);
}

.margin-left-xxxxs {
  margin-left: var(--space-xxxxs);
}

.margin-left-xxxs {
  margin-left: var(--space-xxxs);
}

.margin-left-xxs {
  margin-left: var(--space-xxs);
}

.margin-left-xs {
  margin-left: var(--space-xs);
}

.margin-left-sm {
  margin-left: var(--space-sm);
}

.margin-left-md {
  margin-left: var(--space-md);
}

.margin-left-lg {
  margin-left: var(--space-lg);
}

.margin-left-xl {
  margin-left: var(--space-xl);
}

.margin-left-xxl {
  margin-left: var(--space-xxl);
}

.margin-left-xxxl {
  margin-left: var(--space-xxxl);
}

.margin-left-xxxxl {
  margin-left: var(--space-xxxxl);
}

.margin-left-auto {
  margin-left: auto;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-x-base {
  margin-right: var(--space-unit);
  margin-left: var(--space-unit);
}

.margin-x-xxxxs {
  margin-right: var(--space-xxxxs);
  margin-left: var(--space-xxxxs);
}

.margin-x-xxxs {
  margin-right: var(--space-xxxs);
  margin-left: var(--space-xxxs);
}

.margin-x-xxs {
  margin-right: var(--space-xxs);
  margin-left: var(--space-xxs);
}

.margin-x-xs {
  margin-right: var(--space-xs);
  margin-left: var(--space-xs);
}

.margin-x-sm {
  margin-right: var(--space-sm);
  margin-left: var(--space-sm);
}

.margin-x-md {
  margin-right: var(--space-md);
  margin-left: var(--space-md);
}

.margin-x-lg {
  margin-right: var(--space-lg);
  margin-left: var(--space-lg);
}

.margin-x-xl {
  margin-right: var(--space-xl);
  margin-left: var(--space-xl);
}

.margin-x-xxl {
  margin-right: var(--space-xxl);
  margin-left: var(--space-xxl);
}

.margin-x-xxxl {
  margin-right: var(--space-xxxl);
  margin-left: var(--space-xxxl);
}

.margin-x-xxxxl {
  margin-right: var(--space-xxxxl);
  margin-left: var(--space-xxxxl);
}

.margin-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.margin-x-0 {
  margin-right: 0;
  margin-left: 0;
}

.margin-y-base {
  margin-right: var(--space-unit);
  margin-left: var(--space-unit);
}

.margin-y-xxxxs {
  margin-top: var(--space-xxxxs);
  margin-bottom: var(--space-xxxxs);
}

.margin-y-xxxs {
  margin-top: var(--space-xxxs);
  margin-bottom: var(--space-xxxs);
}

.margin-y-xxs {
  margin-top: var(--space-xxs);
  margin-bottom: var(--space-xxs);
}

.margin-y-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.margin-y-sm {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.margin-y-md {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.margin-y-lg {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.margin-y-xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.margin-y-xxl {
  margin-top: var(--space-xxl);
  margin-bottom: var(--space-xxl);
}

.margin-y-xxxl {
  margin-top: var(--space-xxxl);
  margin-bottom: var(--space-xxxl);
}

.margin-y-xxxxl {
  margin-top: var(--space-xxxxl);
  margin-bottom: var(--space-xxxxl);
}

.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}

// --------------------------------

// Padding

// --------------------------------

.padding-base {
  padding: var(--space-unit);
}

.padding-xxxxs {
  padding: var(--space-xxxxs);
}

.padding-xxxs {
  padding: var(--space-xxxs);
}

.padding-xxs {
  padding: var(--space-xxs);
}

.padding-xs {
  padding: var(--space-xs);
}

.padding-sm {
  padding: var(--space-sm);
}

.padding-md {
  padding: var(--space-md);
}

.padding-lg {
  padding: var(--space-lg);
}

.padding-xl {
  padding: var(--space-xl);
}

.padding-xxl {
  padding: var(--space-xxl);
}

.padding-xxxl {
  padding: var(--space-xxxl);
}

.padding-xxxxl {
  padding: var(--space-xxxxl);
}

.padding-0 {
  padding: 0;
}

.padding-component {
  padding: var(--component-padding);
}

.padding-top-base {
  padding-top: var(--space-unit);
}

.padding-top-xxxxs {
  padding-top: var(--space-xxxxs);
}

.padding-top-xxxs {
  padding-top: var(--space-xxxs);
}

.padding-top-xxs {
  padding-top: var(--space-xxs);
}

.padding-top-xs {
  padding-top: var(--space-xs);
}

.padding-top-sm {
  padding-top: var(--space-sm);
}

.padding-top-md {
  padding-top: var(--space-md);
}

.padding-top-lg {
  padding-top: var(--space-lg);
}

.padding-top-xl {
  padding-top: var(--space-xl);
}

.padding-top-xxl {
  padding-top: var(--space-xxl);
}

.padding-top-xxxl {
  padding-top: var(--space-xxxl);
}

.padding-top-xxxxl {
  padding-top: var(--space-xxxxl);
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-component {
  padding-top: var(--component-padding);
}

.padding-bottom-base {
  padding-top: var(--space-unit);
}

.padding-bottom-xxxxs {
  padding-bottom: var(--space-xxxxs);
}

.padding-bottom-xxxs {
  padding-bottom: var(--space-xxxs);
}

.padding-bottom-xxs {
  padding-bottom: var(--space-xxs);
}

.padding-bottom-xs {
  padding-bottom: var(--space-xs);
}

.padding-bottom-sm {
  padding-bottom: var(--space-sm);
}

.padding-bottom-md {
  padding-bottom: var(--space-md);
}

.padding-bottom-lg {
  padding-bottom: var(--space-lg);
}

.padding-bottom-xl {
  padding-bottom: var(--space-xl);
}

.padding-bottom-xxl {
  padding-bottom: var(--space-xxl);
}

.padding-bottom-xxxl {
  padding-bottom: var(--space-xxxl);
}

.padding-bottom-xxxxl {
  padding-bottom: var(--space-xxxxl);
}

.padding-bottom-0 {
  padding-bottom: 0;
}

.padding-bottom-component {
  padding-bottom: var(--component-padding);
}

.padding-right-base {
  padding-right: var(--space-unit);
}

.padding-right-xxxxs {
  padding-right: var(--space-xxxxs);
}

.padding-right-xxxs {
  padding-right: var(--space-xxxs);
}

.padding-right-xxs {
  padding-right: var(--space-xxs);
}

.padding-right-xs {
  padding-right: var(--space-xs);
}

.padding-right-sm {
  padding-right: var(--space-sm);
}

.padding-right-md {
  padding-right: var(--space-md);
}

.padding-right-lg {
  padding-right: var(--space-lg);
}

.padding-right-xl {
  padding-right: var(--space-xl);
}

.padding-right-xxl {
  padding-right: var(--space-xxl);
}

.padding-right-xxxl {
  padding-right: var(--space-xxxl);
}

.padding-right-xxxxl {
  padding-right: var(--space-xxxxl);
}

.padding-right-0 {
  padding-right: 0;
}

.padding-right-component {
  padding-right: var(--component-padding);
}

.padding-left-base {
  padding-left: var(--space-unit);
}

.padding-left-xxxxs {
  padding-left: var(--space-xxxxs);
}

.padding-left-xxxs {
  padding-left: var(--space-xxxs);
}

.padding-left-xxs {
  padding-left: var(--space-xxs);
}

.padding-left-xs {
  padding-left: var(--space-xs);
}

.padding-left-sm {
  padding-left: var(--space-sm);
}

.padding-left-md {
  padding-left: var(--space-md);
}

.padding-left-lg {
  padding-left: var(--space-lg);
}

.padding-left-xl {
  padding-left: var(--space-xl);
}

.padding-left-xxl {
  padding-left: var(--space-xxl);
}

.padding-left-xxxl {
  padding-left: var(--space-xxxl);
}

.padding-left-xxxxl {
  padding-left: var(--space-xxxxl);
}

.padding-left-0 {
  padding-left: 0;
}

.padding-left-component {
  padding-left: var(--component-padding);
}

.padding-x-base {
  padding-right: var(--space-unit);
  padding-left: var(--space-unit);
}

.padding-x-xxxs {
  padding-right: var(--space-xxxs);
  padding-left: var(--space-xxxs);
}

.padding-x-xxs {
  padding-right: var(--space-xxs);
  padding-left: var(--space-xxs);
}

.padding-x-xs {
  padding-right: var(--space-xs);
  padding-left: var(--space-xs);
}

.padding-x-sm {
  padding-right: var(--space-sm);
  padding-left: var(--space-sm);
}

.padding-x-md {
  padding-right: var(--space-md);
  padding-left: var(--space-md);
}

.padding-x-lg {
  padding-right: var(--space-lg);
  padding-left: var(--space-lg);
}

.padding-x-xl {
  padding-right: var(--space-xl);
  padding-left: var(--space-xl);
}

.padding-x-xxl {
  padding-right: var(--space-xxl);
  padding-left: var(--space-xxl);
}

.padding-x-xxxl {
  padding-right: var(--space-xxxl);
  padding-left: var(--space-xxxl);
}

.padding-x-xxxxl {
  padding-right: var(--space-xxxxl);
  padding-left: var(--space-xxxxl);
}

.padding-x-0 {
  padding-right: 0;
  padding-left: 0;
}

.padding-x-component {
  padding-right: var(--component-padding);
  padding-left: var(--component-padding);
}

.padding-y-base {
  padding-top: var(--space-unit);
  padding-bottom: var(--space-unit);
}

.padding-y-xxxxs {
  padding-top: var(--space-xxxxs);
  padding-bottom: var(--space-xxxxs);
}

.padding-y-xxxs {
  padding-top: var(--space-xxxs);
  padding-bottom: var(--space-xxxs);
}

.padding-y-xxs {
  padding-top: var(--space-xxs);
  padding-bottom: var(--space-xxs);
}

.padding-y-xs {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
}

.padding-y-sm {
  padding-top: var(--space-sm);
  padding-bottom: var(--space-sm);
}

.padding-y-md {
  padding-top: var(--space-md);
  padding-bottom: var(--space-md);
}

.padding-y-lg {
  padding-top: var(--space-lg);
  padding-bottom: var(--space-lg);
}

.padding-y-xl {
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}

.padding-y-xxl {
  padding-top: var(--space-xxl);
  padding-bottom: var(--space-xxl);
}

.padding-y-xxxl {
  padding-top: var(--space-xxxl);
  padding-bottom: var(--space-xxxl);
}

.padding-y-xxxxl {
  padding-top: var(--space-xxxxl);
  padding-bottom: var(--space-xxxxl);
}

.padding-y-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.padding-y-component {
  padding-top: var(--component-padding);
  padding-bottom: var(--component-padding);
}

// Vertical Align

.align-baseline {
  vertical-align: baseline;
}

.align-top {
  vertical-align: top;
}

.align-middle {
  vertical-align: middle;
}

.align-bottom {
  vertical-align: bottom;
}

// media queries

@each $breakpoint, $value in $breakpoints {
  @include respond-to(#{$breakpoint}) {
    .hide\@#{$breakpoint} {
      display: none !important;
    }
    // margin
    @supports (--css: variables) {
      .margin-base\@#{$breakpoint} {
        margin: var(--space-unit);
      }
      .margin-xxxxs\@#{$breakpoint} {
        margin: var(--space-xxxxs);
      }
      .margin-xxxs\@#{$breakpoint} {
        margin: var(--space-xxxs);
      }
      .margin-xxs\@#{$breakpoint} {
        margin: var(--space-xxs);
      }
      .margin-xs\@#{$breakpoint} {
        margin: var(--space-xs);
      }
      .margin-sm\@#{$breakpoint} {
        margin: var(--space-sm);
      }
      .margin-md\@#{$breakpoint} {
        margin: var(--space-md);
      }
      .margin-lg\@#{$breakpoint} {
        margin: var(--space-lg);
      }
      .margin-xl\@#{$breakpoint} {
        margin: var(--space-xl);
      }
      .margin-xxl\@#{$breakpoint} {
        margin: var(--space-xxl);
      }
      .margin-xxxl\@#{$breakpoint} {
        margin: var(--space-xxxl);
      }
      .margin-xxxxl\@#{$breakpoint} {
        margin: var(--space-xxxxl);
      }
      .margin-auto\@#{$breakpoint} {
        margin: auto;
      }
      .margin-0\@#{$breakpoint} {
        margin: 0;
      }

      .margin-top-base\@#{$breakpoint} {
        margin-top: var(--space-unit);
      }
      .margin-top-xxxxs\@#{$breakpoint} {
        margin-top: var(--space-xxxxs);
      }
      .margin-top-xxxs\@#{$breakpoint} {
        margin-top: var(--space-xxxs);
      }
      .margin-top-xxs\@#{$breakpoint} {
        margin-top: var(--space-xxs);
      }
      .margin-top-xs\@#{$breakpoint} {
        margin-top: var(--space-xs);
      }
      .margin-top-sm\@#{$breakpoint} {
        margin-top: var(--space-sm);
      }
      .margin-top-md\@#{$breakpoint} {
        margin-top: var(--space-md);
      }
      .margin-top-lg\@#{$breakpoint} {
        margin-top: var(--space-lg);
      }
      .margin-top-xl\@#{$breakpoint} {
        margin-top: var(--space-xl);
      }
      .margin-top-xxl\@#{$breakpoint} {
        margin-top: var(--space-xxl);
      }
      .margin-top-xxxl\@#{$breakpoint} {
        margin-top: var(--space-xxxl);
      }
      .margin-top-xxxxl\@#{$breakpoint} {
        margin-top: var(--space-xxxxl);
      }
      .margin-top-auto\@#{$breakpoint} {
        margin-top: auto;
      }
      .margin-top-0\@#{$breakpoint} {
        margin-top: 0;
      }

      .margin-bottom-base\@#{$breakpoint} {
        margin-bottom: var(--space-unit);
      }
      .margin-bottom-xxxxs\@#{$breakpoint} {
        margin-bottom: var(--space-xxxxs);
      }
      .margin-bottom-xxxs\@#{$breakpoint} {
        margin-bottom: var(--space-xxxs);
      }
      .margin-bottom-xxs\@#{$breakpoint} {
        margin-bottom: var(--space-xxs);
      }
      .margin-bottom-xs\@#{$breakpoint} {
        margin-bottom: var(--space-xs);
      }
      .margin-bottom-sm\@#{$breakpoint} {
        margin-bottom: var(--space-sm);
      }
      .margin-bottom-md\@#{$breakpoint} {
        margin-bottom: var(--space-md);
      }
      .margin-bottom-lg\@#{$breakpoint} {
        margin-bottom: var(--space-lg);
      }
      .margin-bottom-xl\@#{$breakpoint} {
        margin-bottom: var(--space-xl);
      }
      .margin-bottom-xxl\@#{$breakpoint} {
        margin-bottom: var(--space-xxl);
      }
      .margin-bottom-xxxl\@#{$breakpoint} {
        margin-bottom: var(--space-xxxl);
      }
      .margin-bottom-xxxxl\@#{$breakpoint} {
        margin-bottom: var(--space-xxxxl);
      }
      .margin-bottom-auto\@#{$breakpoint} {
        margin-bottom: auto;
      }
      .margin-bottom-0\@#{$breakpoint} {
        margin-bottom: 0;
      }

      .margin-right-base\@#{$breakpoint} {
        margin-right: var(--space-unit);
      }
      .margin-right-xxxxs\@#{$breakpoint} {
        margin-right: var(--space-xxxxs);
      }
      .margin-right-xxxs\@#{$breakpoint} {
        margin-right: var(--space-xxxs);
      }
      .margin-right-xxs\@#{$breakpoint} {
        margin-right: var(--space-xxs);
      }
      .margin-right-xs\@#{$breakpoint} {
        margin-right: var(--space-xs);
      }
      .margin-right-sm\@#{$breakpoint} {
        margin-right: var(--space-sm);
      }
      .margin-right-md\@#{$breakpoint} {
        margin-right: var(--space-md);
      }
      .margin-right-lg\@#{$breakpoint} {
        margin-right: var(--space-lg);
      }
      .margin-right-xl\@#{$breakpoint} {
        margin-right: var(--space-xl);
      }
      .margin-right-xxl\@#{$breakpoint} {
        margin-right: var(--space-xxl);
      }
      .margin-right-xxxl\@#{$breakpoint} {
        margin-right: var(--space-xxxl);
      }
      .margin-right-xxxxl\@#{$breakpoint} {
        margin-right: var(--space-xxxxl);
      }
      .margin-right-auto\@#{$breakpoint} {
        margin-right: auto;
      }
      .margin-right-0\@#{$breakpoint} {
        margin-right: 0;
      }

      .margin-left-base\@#{$breakpoint} {
        margin-left: var(--space-unit);
      }
      .margin-left-xxxxs\@#{$breakpoint} {
        margin-left: var(--space-xxxxs);
      }
      .margin-left-xxxs\@#{$breakpoint} {
        margin-left: var(--space-xxxs);
      }
      .margin-left-xxs\@#{$breakpoint} {
        margin-left: var(--space-xxs);
      }
      .margin-left-xs\@#{$breakpoint} {
        margin-left: var(--space-xs);
      }
      .margin-left-sm\@#{$breakpoint} {
        margin-left: var(--space-sm);
      }
      .margin-left-md\@#{$breakpoint} {
        margin-left: var(--space-md);
      }
      .margin-left-lg\@#{$breakpoint} {
        margin-left: var(--space-lg);
      }
      .margin-left-xl\@#{$breakpoint} {
        margin-left: var(--space-xl);
      }
      .margin-left-xxl\@#{$breakpoint} {
        margin-left: var(--space-xxl);
      }
      .margin-left-xxxl\@#{$breakpoint} {
        margin-left: var(--space-xxxl);
      }
      .margin-left-xxxxl\@#{$breakpoint} {
        margin-left: var(--space-xxxxl);
      }
      .margin-left-auto\@#{$breakpoint} {
        margin-left: auto;
      }
      .margin-left-0\@#{$breakpoint} {
        margin-left: 0;
      }

      .margin-x-base\@#{$breakpoint} {
        margin-right: var(--space-unit);
        margin-left: var(--space-unit);
      }
      .margin-x-xxxxs\@#{$breakpoint} {
        margin-right: var(--space-xxxxs);
        margin-left: var(--space-xxxxs);
      }
      .margin-x-xxxs\@#{$breakpoint} {
        margin-right: var(--space-xxxs);
        margin-left: var(--space-xxxs);
      }
      .margin-x-xxs\@#{$breakpoint} {
        margin-right: var(--space-xxs);
        margin-left: var(--space-xxs);
      }
      .margin-x-xs\@#{$breakpoint} {
        margin-right: var(--space-xs);
        margin-left: var(--space-xs);
      }
      .margin-x-sm\@#{$breakpoint} {
        margin-right: var(--space-sm);
        margin-left: var(--space-sm);
      }
      .margin-x-md\@#{$breakpoint} {
        margin-right: var(--space-md);
        margin-left: var(--space-md);
      }
      .margin-x-lg\@#{$breakpoint} {
        margin-right: var(--space-lg);
        margin-left: var(--space-lg);
      }
      .margin-x-xl\@#{$breakpoint} {
        margin-right: var(--space-xl);
        margin-left: var(--space-xl);
      }
      .margin-x-xxl\@#{$breakpoint} {
        margin-right: var(--space-xxl);
        margin-left: var(--space-xxl);
      }
      .margin-x-xxxl\@#{$breakpoint} {
        margin-right: var(--space-xxxl);
        margin-left: var(--space-xxxl);
      }
      .margin-x-xxxxl\@#{$breakpoint} {
        margin-right: var(--space-xxxxl);
        margin-left: var(--space-xxxxl);
      }
      .margin-x-auto\@#{$breakpoint} {
        margin-right: auto;
        margin-left: auto;
      }
      .margin-x-0\@#{$breakpoint} {
        margin-right: 0;
        margin-left: 0;
      }

      .margin-y-base\@#{$breakpoint} {
        margin-top: var(--space-unit);
        margin-bottom: var(--space-unit);
      }
      .margin-y-xxxxs\@#{$breakpoint} {
        margin-top: var(--space-xxxxs);
        margin-bottom: var(--space-xxxxs);
      }
      .margin-y-xxxs\@#{$breakpoint} {
        margin-top: var(--space-xxxs);
        margin-bottom: var(--space-xxxs);
      }
      .margin-y-xxs\@#{$breakpoint} {
        margin-top: var(--space-xxs);
        margin-bottom: var(--space-xxs);
      }
      .margin-y-xs\@#{$breakpoint} {
        margin-top: var(--space-xs);
        margin-bottom: var(--space-xs);
      }
      .margin-y-sm\@#{$breakpoint} {
        margin-top: var(--space-sm);
        margin-bottom: var(--space-sm);
      }
      .margin-y-md\@#{$breakpoint} {
        margin-top: var(--space-md);
        margin-bottom: var(--space-md);
      }
      .margin-y-lg\@#{$breakpoint} {
        margin-top: var(--space-lg);
        margin-bottom: var(--space-lg);
      }
      .margin-y-xl\@#{$breakpoint} {
        margin-top: var(--space-xl);
        margin-bottom: var(--space-xl);
      }
      .margin-y-xxl\@#{$breakpoint} {
        margin-top: var(--space-xxl);
        margin-bottom: var(--space-xxl);
      }
      .margin-y-xxxl\@#{$breakpoint} {
        margin-top: var(--space-xxxl);
        margin-bottom: var(--space-xxxl);
      }
      .margin-y-xxxxl\@#{$breakpoint} {
        margin-top: var(--space-xxxxl);
        margin-bottom: var(--space-xxxxl);
      }
      .margin-y-auto\@#{$breakpoint} {
        margin-top: auto;
        margin-bottom: auto;
      }
      .margin-y-0\@#{$breakpoint} {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    // padding
    @supports (--css: variables) {
      .padding-base\@#{$breakpoint} {
        padding: var(--space-unit);
      }
      .padding-xxxxs\@#{$breakpoint} {
        padding: var(--space-xxxxs);
      }
      .padding-xxxs\@#{$breakpoint} {
        padding: var(--space-xxxs);
      }
      .padding-xxs\@#{$breakpoint} {
        padding: var(--space-xxs);
      }
      .padding-xs\@#{$breakpoint} {
        padding: var(--space-xs);
      }
      .padding-sm\@#{$breakpoint} {
        padding: var(--space-sm);
      }
      .padding-md\@#{$breakpoint} {
        padding: var(--space-md);
      }
      .padding-lg\@#{$breakpoint} {
        padding: var(--space-lg);
      }
      .padding-xl\@#{$breakpoint} {
        padding: var(--space-xl);
      }
      .padding-xxl\@#{$breakpoint} {
        padding: var(--space-xxl);
      }
      .padding-xxxl\@#{$breakpoint} {
        padding: var(--space-xxxl);
      }
      .padding-xxxxl\@#{$breakpoint} {
        padding: var(--space-xxxxl);
      }
      .padding-0\@#{$breakpoint} {
        padding: 0;
      }
      .padding-component\@#{$breakpoint} {
        padding: var(--component-padding);
      }

      .padding-top-base\@#{$breakpoint} {
        padding-top: var(--space-unit);
      }
      .padding-top-xxxxs\@#{$breakpoint} {
        padding-top: var(--space-xxxxs);
      }
      .padding-top-xxxs\@#{$breakpoint} {
        padding-top: var(--space-xxxs);
      }
      .padding-top-xxs\@#{$breakpoint} {
        padding-top: var(--space-xxs);
      }
      .padding-top-xs\@#{$breakpoint} {
        padding-top: var(--space-xs);
      }
      .padding-top-sm\@#{$breakpoint} {
        padding-top: var(--space-sm);
      }
      .padding-top-md\@#{$breakpoint} {
        padding-top: var(--space-md);
      }
      .padding-top-lg\@#{$breakpoint} {
        padding-top: var(--space-lg);
      }
      .padding-top-xl\@#{$breakpoint} {
        padding-top: var(--space-xl);
      }
      .padding-top-xxl\@#{$breakpoint} {
        padding-top: var(--space-xxl);
      }
      .padding-top-xxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxl);
      }
      .padding-top-xxxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxxl);
      }
      .padding-top-0\@#{$breakpoint} {
        padding-top: 0;
      }
      .padding-top-component\@#{$breakpoint} {
        padding-top: var(--component-padding);
      }

      .padding-bottom-base\@#{$breakpoint} {
        padding-bottom: var(--space-unit);
      }
      .padding-bottom-xxxxs\@#{$breakpoint} {
        padding-bottom: var(--space-xxxxs);
      }
      .padding-bottom-xxxs\@#{$breakpoint} {
        padding-bottom: var(--space-xxxs);
      }
      .padding-bottom-xxs\@#{$breakpoint} {
        padding-bottom: var(--space-xxs);
      }
      .padding-bottom-xs\@#{$breakpoint} {
        padding-bottom: var(--space-xs);
      }
      .padding-bottom-sm\@#{$breakpoint} {
        padding-bottom: var(--space-sm);
      }
      .padding-bottom-md\@#{$breakpoint} {
        padding-bottom: var(--space-md);
      }
      .padding-bottom-lg\@#{$breakpoint} {
        padding-bottom: var(--space-lg);
      }
      .padding-bottom-xl\@#{$breakpoint} {
        padding-bottom: var(--space-xl);
      }
      .padding-bottom-xxl\@#{$breakpoint} {
        padding-bottom: var(--space-xxl);
      }
      .padding-bottom-xxxl\@#{$breakpoint} {
        padding-bottom: var(--space-xxxl);
      }
      .padding-bottom-xxxxl\@#{$breakpoint} {
        padding-bottom: var(--space-xxxxl);
      }
      .padding-bottom-0\@#{$breakpoint} {
        padding-bottom: 0;
      }
      .padding-bottom-component\@#{$breakpoint} {
        padding-bottom: var(--component-padding);
      }

      .padding-right-base\@#{$breakpoint} {
        padding-right: var(--space-unit);
      }
      .padding-right-xxxxs\@#{$breakpoint} {
        padding-right: var(--space-xxxxs);
      }
      .padding-right-xxxs\@#{$breakpoint} {
        padding-right: var(--space-xxxs);
      }
      .padding-right-xxs\@#{$breakpoint} {
        padding-right: var(--space-xxs);
      }
      .padding-right-xs\@#{$breakpoint} {
        padding-right: var(--space-xs);
      }
      .padding-right-sm\@#{$breakpoint} {
        padding-right: var(--space-sm);
      }
      .padding-right-md\@#{$breakpoint} {
        padding-right: var(--space-md);
      }
      .padding-right-lg\@#{$breakpoint} {
        padding-right: var(--space-lg);
      }
      .padding-right-xl\@#{$breakpoint} {
        padding-right: var(--space-xl);
      }
      .padding-right-xxl\@#{$breakpoint} {
        padding-right: var(--space-xxl);
      }
      .padding-right-xxxl\@#{$breakpoint} {
        padding-right: var(--space-xxxl);
      }
      .padding-right-xxxxl\@#{$breakpoint} {
        padding-right: var(--space-xxxxl);
      }
      .padding-right-0\@#{$breakpoint} {
        padding-right: 0;
      }
      .padding-right-component\@#{$breakpoint} {
        padding-right: var(--component-padding);
      }

      .padding-left-base\@#{$breakpoint} {
        padding-left: var(--space-unit);
      }
      .padding-left-xxxxs\@#{$breakpoint} {
        padding-left: var(--space-xxxxs);
      }
      .padding-left-xxxs\@#{$breakpoint} {
        padding-left: var(--space-xxxs);
      }
      .padding-left-xxs\@#{$breakpoint} {
        padding-left: var(--space-xxs);
      }
      .padding-left-xs\@#{$breakpoint} {
        padding-left: var(--space-xs);
      }
      .padding-left-sm\@#{$breakpoint} {
        padding-left: var(--space-sm);
      }
      .padding-left-md\@#{$breakpoint} {
        padding-left: var(--space-md);
      }
      .padding-left-lg\@#{$breakpoint} {
        padding-left: var(--space-lg);
      }
      .padding-left-xl\@#{$breakpoint} {
        padding-left: var(--space-xl);
      }
      .padding-left-xxl\@#{$breakpoint} {
        padding-left: var(--space-xxl);
      }
      .padding-left-xxxl\@#{$breakpoint} {
        padding-left: var(--space-xxxl);
      }
      .padding-left-xxxxl\@#{$breakpoint} {
        padding-left: var(--space-xxxxl);
      }
      .padding-left-0\@#{$breakpoint} {
        padding-left: 0;
      }
      .padding-left-component\@#{$breakpoint} {
        padding-left: var(--component-padding);
      }

      .padding-x-base\@#{$breakpoint} {
        padding-right: var(--space-unit);
        padding-left: var(--space-unit);
      }
      .padding-x-xxxs\@#{$breakpoint} {
        padding-right: var(--space-xxxs);
        padding-left: var(--space-xxxs);
      }
      .padding-x-xxs\@#{$breakpoint} {
        padding-right: var(--space-xxs);
        padding-left: var(--space-xxs);
      }
      .padding-x-xs\@#{$breakpoint} {
        padding-right: var(--space-xs);
        padding-left: var(--space-xs);
      }
      .padding-x-sm\@#{$breakpoint} {
        padding-right: var(--space-sm);
        padding-left: var(--space-sm);
      }
      .padding-x-md\@#{$breakpoint} {
        padding-right: var(--space-md);
        padding-left: var(--space-md);
      }
      .padding-x-lg\@#{$breakpoint} {
        padding-right: var(--space-lg);
        padding-left: var(--space-lg);
      }
      .padding-x-xl\@#{$breakpoint} {
        padding-right: var(--space-xl);
        padding-left: var(--space-xl);
      }
      .padding-x-xxl\@#{$breakpoint} {
        padding-right: var(--space-xxl);
        padding-left: var(--space-xxl);
      }
      .padding-x-xxxl\@#{$breakpoint} {
        padding-right: var(--space-xxxl);
        padding-left: var(--space-xxxl);
      }
      .padding-x-xxxxl\@#{$breakpoint} {
        padding-right: var(--space-xxxxl);
        padding-left: var(--space-xxxxl);
      }
      .padding-x-0\@#{$breakpoint} {
        padding-right: 0;
        padding-left: 0;
      }
      .padding-x-component\@#{$breakpoint} {
        padding-right: var(--component-padding);
        padding-left: var(--component-padding);
      }

      .padding-y-base\@#{$breakpoint} {
        padding-top: var(--space-unit);
        padding-bottom: var(--space-unit);
      }
      .padding-y-xxxxs\@#{$breakpoint} {
        padding-top: var(--space-xxxxs);
        padding-bottom: var(--space-xxxxs);
      }
      .padding-y-xxxs\@#{$breakpoint} {
        padding-top: var(--space-xxxs);
        padding-bottom: var(--space-xxxs);
      }
      .padding-y-xxs\@#{$breakpoint} {
        padding-top: var(--space-xxs);
        padding-bottom: var(--space-xxs);
      }
      .padding-y-xs\@#{$breakpoint} {
        padding-top: var(--space-xs);
        padding-bottom: var(--space-xs);
      }
      .padding-y-sm\@#{$breakpoint} {
        padding-top: var(--space-sm);
        padding-bottom: var(--space-sm);
      }
      .padding-y-md\@#{$breakpoint} {
        padding-top: var(--space-md);
        padding-bottom: var(--space-md);
      }
      .padding-y-lg\@#{$breakpoint} {
        padding-top: var(--space-lg);
        padding-bottom: var(--space-lg);
      }
      .padding-y-xl\@#{$breakpoint} {
        padding-top: var(--space-xl);
        padding-bottom: var(--space-xl);
      }
      .padding-y-xxl\@#{$breakpoint} {
        padding-top: var(--space-xxl);
        padding-bottom: var(--space-xxl);
      }
      .padding-y-xxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxl);
        padding-bottom: var(--space-xxxl);
      }
      .padding-y-xxxxl\@#{$breakpoint} {
        padding-top: var(--space-xxxxl);
        padding-bottom: var(--space-xxxxl);
      }
      .padding-y-0\@#{$breakpoint} {
        padding-top: 0;
        padding-bottom: 0;
      }
      .padding-y-component\@#{$breakpoint} {
        padding-top: var(--component-padding);
        padding-bottom: var(--component-padding);
      }
    }

    // text-align
    .text-center\@#{$breakpoint} {
      text-align: center;
    }
    .text-left\@#{$breakpoint} {
      text-align: left;
    }
    .text-right\@#{$breakpoint} {
      text-align: right;
    }
    .text-justify\@#{$breakpoint} {
      text-align: justify;
    }

    // font-size
    @supports (--css: variables) {
      .text-xs\@#{$breakpoint} {
        font-size: var(--text-size-xs, 0.694em);
      }
      .text-sm\@#{$breakpoint} {
        font-size: var(--text-size-sm, 0.833em);
      }
      .text-base\@#{$breakpoint} {
        font-size: var(--text-base-size, 1em);
      }
      .text-md\@#{$breakpoint} {
        font-size: var(--text-size-md, 1.2em);
      }
      .text-lg\@#{$breakpoint} {
        font-size: var(--text-size-lg, 1.44em);
      }
      .text-xl\@#{$breakpoint} {
        font-size: var(--text-size-xl, 1.728em);
      }
      .text-xxl\@#{$breakpoint} {
        font-size: var(--text-size-xxl, 2.074em);
      }
      .text-xxxl\@#{$breakpoint} {
        font-size: var(--text-size-xxxl, 2.488em);
      }
      .text-xxxxl\@#{$breakpoint} {
        font-size: var(--text-size-xxxxl, 2.985em);
      }
    }

    // visibility
    .visible\@#{$breakpoint} {
      visibility: visible;
    }
    .invisible\@#{$breakpoint} {
      visibility: hidden;
    }
  }

  @include respond-to(#{$breakpoint}, "not all") {
    .has-margin\@#{$breakpoint} {
      margin: 0 !important;
    }
    .has-padding\@#{$breakpoint} {
      padding: 0 !important;
    }
    .display\@#{$breakpoint} {
      display: none !important;
    }
  }
}
