/**
 * Strictly Layout Styles
 */
@media (min-width: 768px) {
  table.shop_table_responsive tbody tr td,
  table.shop_table_responsive tbody tr th {
    text-align: left;
  }

  .site-header {
    padding-top: ms(5);
    padding-bottom: 0;
  }
  .site-header .site-branding {
    display: block;
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    clear: both;
  }
  .site-header .site-branding img {
    height: auto;
    max-width: 230px;
    max-height: none;
  }

  .woocommerce-active .site-header .site-branding {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%;
  }
  .woocommerce-active .site-header .site-search {
    width: 21.7391304348%;
    float: right;
    margin-right: 0;
    clear: none;
  }
  .woocommerce-active .site-header .main-navigation {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%;
    clear: both;
  }
  .woocommerce-active .site-header .site-header-cart {
    width: 21.7391304348%;
    float: right;
    margin-right: 0;
    margin-bottom: 0;
  }

  .willydevtheme-secondary-navigation .site-header .site-branding {
    width: 39.1304347826%;
    float: left;
    margin-right: 4.347826087%;
  }
  .willydevtheme-secondary-navigation .site-header .secondary-navigation {
    width: 56.5217391304%;
    float: right;
    margin-right: 0;
  }
  .willydevtheme-secondary-navigation.woocommerce-active
    .site-header
    .site-branding {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%;
  }
  .willydevtheme-secondary-navigation.woocommerce-active
    .site-header
    .secondary-navigation {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }

  .site-branding .site-description {
    margin-bottom: 0;
    display: block;
  }

  .site-branding,
  .site-search,
  .site-header-cart,
  .site-logo-anchor,
  .site-logo-link,
  .custom-logo-link {
    margin-bottom: ms(2);
  }

  .site-header .subscribe-and-connect-connect {
    float: right;
    margin-bottom: 1em;
  }
  .site-header .subscribe-and-connect-connect .icons {
    list-style: none;
    margin: 0;
  }
  .site-header .subscribe-and-connect-connect .icons a {
    font-size: 1em !important;
  }
  .site-header .subscribe-and-connect-connect .icons li {
    margin: 0 0 0 ms(-3) !important;
    display: inline-block;
  }

  .col-full {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 ms(5);
    box-sizing: content-box;
  }
  .col-full::before,
  .col-full::after {
    content: "";
    display: table;
  }
  .col-full::after {
    clear: both;
  }
  .col-full:after {
    content: " ";
    display: block;
    clear: both;
  }

  .site-content::before,
  .site-content::after {
    content: "";
    display: table;
  }
  .site-content::after {
    clear: both;
  }

  .content-area {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%;
  }

  .widget-area {
    width: 21.7391304348%;
    float: right;
    margin-right: 0;
  }

  .right-sidebar .content-area {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%;
  }
  .right-sidebar .widget-area {
    width: 21.7391304348%;
    float: right;
    margin-right: 0;
  }

  .left-sidebar .content-area {
    width: 73.9130434783%;
    float: right;
    margin-right: 0;
  }
  .left-sidebar .widget-area {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%;
  }

  .willydevtheme-full-width-content .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  .content-area,
  .widget-area {
    margin-bottom: ms(5);
  }

  /**
   * Full width & homepage template
   */
  .page-template-template-fullwidth-php .content-area,
  .page-template-template-homepage-php .content-area {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /**
   * Footer widgets
   */
  .footer-widgets {
    padding-top: ms(7);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .footer-widgets::before,
  .footer-widgets::after {
    content: "";
    display: table;
  }
  .footer-widgets::after {
    clear: both;
  }
  .footer-widgets.col-2 .block {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }
  .footer-widgets.col-2 .block.footer-widget-2 {
    float: right;
    margin-right: 0;
  }
  .footer-widgets.col-3 .block {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%;
  }
  .footer-widgets.col-3 .block.footer-widget-3 {
    float: right;
    margin-right: 0;
  }
  .footer-widgets.col-4 .block {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%;
  }
  .footer-widgets.col-4 .block.footer-widget-4 {
    float: right;
    margin-right: 0;
  }

  /**
   * Comments
   */
  .comment-list::before,
  .comment-list::after {
    content: "";
    display: table;
  }
  .comment-list::after {
    clear: both;
  }
  .comment-list .comment {
    clear: both;
  }
  .comment-list .comment-meta {
    width: 17.6470588235%;
    float: left;
    margin-right: 5.8823529412%;
    text-align: right;
  }
  .comment-list .comment-meta .avatar {
    float: right;
  }
  .comment-list .comment-content {
    padding-bottom: ms(6);
    margin-bottom: ms(6);
  }
  .comment-list .comment-content,
  .comment-list #respond {
    width: 76.4705882353%;
    float: right;
    margin-right: 0;
  }
  .comment-list #respond {
    float: right;
  }
  .comment-list #respond .comment-form-author,
  .comment-list #respond .comment-form-email,
  .comment-list #respond .comment-form-url {
    width: 100%;
    margin-right: 0;
  }
  .comment-list .comment-body #respond {
    box-shadow: 0 6px 2em rgba(0, 0, 0, 0.2);
    margin-bottom: ms(5);
    margin-top: -ms(3);
  }
  .comment-list .reply {
    clear: both;
    text-align: right;
  }
  .comment-list ol.children {
    width: 88.2352941176%;
    float: right;
    margin-right: 0;
    list-style: none;
  }
  .comment-list ol.children .comment-meta {
    width: 20%;
    float: left;
    margin-right: 6.6666666667%;
  }
  .comment-list ol.children .comment-content,
  .comment-list ol.children #respond {
    width: 73.3333333333%;
    float: right;
    margin-right: 0;
  }
  .comment-list ol.children ol.children {
    width: 86.6666666667%;
    float: right;
    margin-right: 0;
  }
  .comment-list ol.children ol.children .comment-meta {
    width: 23.0769230769%;
    float: left;
    margin-right: 7.6923076923%;
  }
  .comment-list ol.children ol.children .comment-content,
  .comment-list ol.children ol.children #respond {
    width: 69.2307692308%;
    float: right;
    margin-right: 0;
  }
  .comment-list ol.children ol.children ol.children {
    width: 84.6153846154%;
    float: right;
    margin-right: 0;
  }
  .comment-list ol.children ol.children ol.children .comment-meta {
    width: 27.2727272727%;
    float: left;
    margin-right: 9.0909090909%;
  }
  .comment-list ol.children ol.children ol.children .comment-content,
  .comment-list ol.children ol.children ol.children #respond {
    width: 63.6363636364%;
    float: right;
    margin-right: 0;
  }
  .comment-list ol.children ol.children ol.children ol.children {
    width: 81.8181818182%;
    float: right;
    margin-right: 0;
  }
  .comment-list ol.children ol.children ol.children ol.children .comment-meta {
    width: 33.3333333333%;
    float: left;
    margin-right: 11.1111111111%;
  }
  .comment-list
    ol.children
    ol.children
    ol.children
    ol.children
    .comment-content,
  .comment-list ol.children ol.children ol.children ol.children #respond {
    width: 55.5555555556%;
    float: right;
    margin-right: 0;
  }

  #respond {
    padding: ms(5);
  }
  #respond .comment-form-author,
  #respond .comment-form-email,
  #respond .comment-form-url {
    width: 29.4117647059%;
    float: left;
    margin-right: 5.8823529412%;
  }
  #respond .comment-form-url {
    float: right;
    margin-right: 0;
  }
  #respond .comment-form-comment {
    clear: both;
  }

  /**
   * Content
   */
  .hentry .entry-header {
    margin-bottom: ms(5);
  }

  /**
   * Menus
   *
   * 1 - Use a `left` declaration so that dropdowns are revealed when tabbed.
   */
  .menu-toggle,
  .handheld-navigation,
  .main-navigation.toggled .handheld-navigation,
  .main-navigation.toggled div.menu {
    display: none;
  }

  .primary-navigation {
    display: block;
  }

  .main-navigation,
  .secondary-navigation {
    clear: both;
    display: block;
    width: 100%;
  }
  .main-navigation ul,
  .secondary-navigation ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: block;
  }
  .main-navigation ul li,
  .secondary-navigation ul li {
    position: relative;
    display: inline-block;
    text-align: left;
  }
  .main-navigation ul li a,
  .secondary-navigation ul li a {
    display: block;
  }
  .main-navigation ul li a::before,
  .secondary-navigation ul li a::before {
    display: none;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul,
  .secondary-navigation ul li:hover > ul,
  .secondary-navigation ul li.focus > ul {
    left: 0;
    display: block;
  }
  .main-navigation ul li:hover > ul li > ul,
  .main-navigation ul li.focus > ul li > ul,
  .secondary-navigation ul li:hover > ul li > ul,
  .secondary-navigation ul li.focus > ul li > ul {
    left: -9999px;
    /* 1 */
  }
  .main-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device,
  .main-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device,
  .secondary-navigation ul li:hover > ul li > ul.sub-menu--is-touch-device,
  .secondary-navigation ul li.focus > ul li > ul.sub-menu--is-touch-device {
    display: none;
    left: 0;
  }
  .main-navigation ul li:hover > ul li:hover > ul,
  .main-navigation ul li:hover > ul li.focus > ul,
  .main-navigation ul li.focus > ul li:hover > ul,
  .main-navigation ul li.focus > ul li.focus > ul,
  .secondary-navigation ul li:hover > ul li:hover > ul,
  .secondary-navigation ul li:hover > ul li.focus > ul,
  .secondary-navigation ul li.focus > ul li:hover > ul,
  .secondary-navigation ul li.focus > ul li.focus > ul {
    left: 100%;
    top: 0;
    display: block;
  }
  .main-navigation ul ul,
  .secondary-navigation ul ul {
    float: left;
    position: absolute;
    top: 100%;
    z-index: 99999;
    left: -9999px;
    /* 1 */
  }
  .main-navigation ul ul.sub-menu--is-touch-device,
  .secondary-navigation ul ul.sub-menu--is-touch-device {
    display: none;
    left: 0;
  }
  .main-navigation ul ul li,
  .secondary-navigation ul ul li {
    display: block;
  }
  .main-navigation ul ul li a,
  .secondary-navigation ul ul li a {
    width: 200px;
  }

  ul.menu li.current-menu-item > a {
    color: #43454b;
  }

  /**
   * Primary Navigation
   */
  .willydevtheme-primary-navigation {
    clear: both;
  }
  .willydevtheme-primary-navigation::before,
  .willydevtheme-primary-navigation::after {
    content: "";
    display: table;
  }
  .willydevtheme-primary-navigation::after {
    clear: both;
  }

  .main-navigation div.menu {
    display: block;
  }
  .main-navigation ul.menu,
  .main-navigation ul.nav-menu {
    max-height: none;
    overflow: visible;
    margin-left: -1em;
    transition: none;
  }
  .main-navigation ul.menu > li > a,
  .main-navigation ul.nav-menu > li > a {
    padding: ms(3) 1em;
  }
  .main-navigation ul.menu > li.menu-item-has-children:hover::after,
  .main-navigation ul.menu > li.page_item_has_children:hover::after,
  .main-navigation ul.nav-menu > li.menu-item-has-children:hover::after,
  .main-navigation ul.nav-menu > li.page_item_has_children:hover::after {
    display: block;
  }
  .main-navigation ul.menu ul,
  .main-navigation ul.nav-menu ul {
    margin-left: 0;
  }
  .main-navigation ul.menu ul li a,
  .main-navigation ul.nav-menu ul li a {
    padding: ms(-1) ms(2);
    font-weight: 400;
    font-size: ms(-1);
  }
  .main-navigation ul.menu ul li:last-child,
  .main-navigation ul.nav-menu ul li:last-child {
    border-bottom: 0;
  }
  .main-navigation ul.menu ul ul,
  .main-navigation ul.nav-menu ul ul {
    margin-left: 0;
    box-shadow: none;
  }
  .main-navigation ul.menu ul a:hover,
  .main-navigation ul.menu ul li:hover > a,
  .main-navigation ul.menu ul li.focus,
  .main-navigation ul.nav-menu ul a:hover,
  .main-navigation ul.nav-menu ul li:hover > a,
  .main-navigation ul.nav-menu ul li.focus {
    background-color: rgba(0, 0, 0, 0.025);
  }
  .main-navigation a {
    padding: 0 1em ms(4);
  }

  /**
   * Secondary Navigation
   */
  .secondary-navigation {
    margin: 0 0 ms(3);
    width: auto;
    clear: none;
    line-height: 1;
  }
  .secondary-navigation .menu {
    font-size: ms(-1);
    width: auto;
    float: right;
  }
  .secondary-navigation .menu > li:hover > a {
    text-decoration: none;
  }
  .secondary-navigation .menu ul a {
    padding: 0.326em ms(-1);
    background: rgba(0, 0, 0, 0.05);
  }
  .secondary-navigation .menu ul li:first-child a {
    padding-top: 1em;
  }
  .secondary-navigation .menu ul li:last-child a {
    padding-bottom: 1em;
  }
  .secondary-navigation .menu ul ul {
    margin-top: -ms(-2);
  }
  .secondary-navigation .menu a {
    padding: ms(1) ms(-1);
    color: #737781;
    font-weight: 400;
  }
  .secondary-navigation .menu a:hover {
    text-decoration: none;
  }

  /**
   * 404 Styles
   */
  .error404 .fourohfour-columns-2 .col-1 {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%;
  }
  .error404 .fourohfour-columns-2 .col-1 ul.products {
    margin-bottom: 0;
  }
  .error404 .fourohfour-columns-2 .col-2 {
    width: 47.8260869565%;
    float: right;
    margin-right: 0;
  }
}

.header-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-height: 300px;
}

.header-hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.header-hero__title {
  color: #fff;
}

/*# sourceMappingURL=layout.css.map */
