.accordion-container {
  max-width: var(--max-width-lg);
  margin: var(--space-unit) var(--text-size-base);
}

.accordion__list {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.accordion__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  border: unset;
  border-bottom: 2px solid var(--color-grey-low);
  transition-property: transform;
  transition-duration: 200ms;
  text-align: start;
  //
  @include on-event {
    background-color: var(--color-info-lower);
  }
  @include respond-to("sm") {
    font-size: var(--text-md);
  }
}

.accordion__button.first-child {
  border-top: 2px solid var(--color-grey-low);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.accordion__button.last-child {
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.accordion__button.selected {
  border: 2px solid var(--color-info);
}

.accordion__button .arrow-down {
  margin: 0 1rem;
}

.accordion__button.selected .arrow-down {
  transform: rotate(180deg);
  transition-property: transform;
  transition-duration: 200ms;
}

.accordion__label {
  margin: 0;
  padding: var(--space-sm);
  color: var(--color-text);
  font-size: 1em;
}

.accordion__panel {
  transform: translateY(-3rem);
  transition-property: transform;
  transition-duration: 2s;

  &.show {
    display: block;
    padding: 1em;
    background-color: var(--color-grey-lower);
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 2s;
  }
}

.accordion__text {
  margin: 0;
}
