@import "../../../../themes/storefront_child/assets/utility/variables";
@import "../../../../themes/storefront_child/assets/utility/mixin";
@import "../../../../themes/storefront_child/assets/utility/extend";

.slider-tematicas-container {
  position: relative;
  width: 100%;
  margin: 5px 0;
  padding: 5px 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  box-shadow: $sombra;

  &:hover {
    box-shadow: $sombraHover;
  }

  .slider-tematicas-content {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;

    .slide-tematicas__items {
      .slide-tematicas__link {
        display: inline-block;

        .slide-tematicas__figure {
          height: 75px;
          margin: 0;
          padding: 0;

          picture {
            // display: inline-block;
            img {
              display: inline-block;
              max-width: none;
              max-height: 100%;
            }
          }
        }

        figcaption {
          font-size: 0.8em;
          text-align: center;

          span.count {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 16px;
            height: 16px;
            margin-left: 4px;
            padding: 0;
            background: #ddd;
            border-radius: 100%;
            font-weight: bold;
            line-height: 0;
          }
        }
      }
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .btn-icon {
    position: absolute;
    top: 40%;
    // font-size: 1.2em;
    width: 30px;
    height: 30px;
    opacity: 0.9;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &--left {
      left: 1rem;
    }

    &--right {
      right: 1rem;
    }
  }

  .icon {
    @extend %icon-circle;

    width: 30px;
    height: 30px;
    background-color: #fff;
    border: 0;
  }
}

@media (max-width: 800px) {
  .slider-tematicas-container {
    // margin: 40px 0 3px 0;
    .slider-tematicas-content {
      overflow: auto;

      .slide-tematicas__items {
        .slide-tematicas__link {
          .slide-tematicas__figure {
            height: 80px;
          }
        }
      }
    }

    .btn-icon {
      display: none;
    }
  }
}
@media (max-width: 414px) {
  .slider-tematicas-container {
    .slider-tematicas-content {
      .slide-tematicas__items {
        .slide-tematicas__link {
          .slide-tematicas__figure {
            height: 70px;
          }
        }
      }
    }
  }
}
