.main-menu {
  display: flex;
  justify-content: center;
  width: 100%;
  list-style: none;
}

.main-menu__items {
  margin: 1rem;
}

.main-menu__links {
  display: inline-block;
  padding: 1rem;
  color: #fff;
  background-color: #16a9ae;
  border-radius: 2px;

  &:active {
    border: 1px solid #fff;
  }

  &:hover {
    border: 1px solid #fff;
  }
}
