@import "../../../../themes/storefront_child/assets/utility/variables";
@import "../../../../themes/storefront_child/assets/utility/mixin";
@import "../../../../themes/storefront_child/assets/utility/extend";

.site-footer {
  margin: 0 !important;
  padding: 0 !important;
  color: unset !important;
  background-color: unset !important;

  .col-full {
    width: 100%;
    max-width: none !important;
    margin: 0;
    padding: 0;

    .footer-content {
      position: relative;
      z-index: 1000000000000;
      padding: 1em;
      overflow: auto;
      background-color: $turquezaOscuro;

      .social-bar {
        margin: 0.5em 0;
        padding-bottom: 2rem;
        border-bottom: 1px solid #fff;

        .social-bar__list--footer {
          display: flex;
          justify-content: space-around;
          align-items: center;
          list-style: none;

          &::before {
            content: "Siguenos en ";
            color: #3a3a3a;
          }

          .social-bar__item {
            .social-bar__link {
              text-decoration: none;

              .icon {
                @extend %icon-circle;

                width: 45px;
                height: 45px;
                // font-size: 2rem;
                fill: #fff;

                &.icon--facebook {
                  background-color: #3b5998;
                }

                &.icon--pinterest {
                  background-color: #cb2027;
                }

                &.icon--instagram {
                  background-color: #125688;
                }

                &.icon--gmail {
                  background-color: #d44638;
                }

                &.icon--youtube {
                  background-color: #b00;
                }
              }
            }
          }
        }
      }

      .footer-navigation {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;
        text-align: center;

        .footer__column-row {
          text-align: center;

          .footer-nav__titles {
            color: #3a3a3a;
            font-size: 1.2rem;
            font-weight: bold;
            text-align: center;
          }

          .footer-nav__list {
            margin: 0;
            padding: 0;
            list-style: none;

            .footer-nav__link {
              color: #fff;
              font-size: 18px;
              text-decoration: none;

              &:hover {
                font-weight: bold;
              }
            }
          }
        }

        .footer__column-row--text {
          .footer-nav__titles {
            color: #3a3a3a;
          }

          .footer-nav__items {
            color: #3a3a3a;
          }
        }
      }

      #footerClose {
        display: none;
      }

      .footer-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background: $fucsia;

        &__texto {
          margin: 0;
          padding: 10px;
          color: #fff;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .site-footer {
    .col-full {
      .footer-content {
        position: fixed;
        top: 0;
        bottom: 0;
        height: 100vh;
        margin: 0;
        overflow: auto;
        background-color: #ffbcec;
        border: 0.5em solid white;
        opacity: 0;
        opacity: 0;
        transition: opacity 0.25s;
        transition: all 0.6s ease 0s;
        visibility: hidden;
        visibility: hidden;

        &.active {
          overflow: auto;
          opacity: 1;
          transition: all 0.4s ease 0s;
          visibility: visible;
        }

        .social-bar {
          .social-bar__list--footer {
            justify-content: flex-start;
            margin: 0;

            &::before {
              content: none;
            }

            .social-bar__item {
              margin-right: 1em;

              .social-bar__link {
                .dashicons {
                  width: 40px;
                  height: 40px;
                  font-size: 1.5rem;
                }
              }
            }
          }
        }

        .footer-navigation {
          grid-template-columns: 1fr;
          gap: 1rem;

          .footer__column-row {
            text-align: center;

            .footer-nav__titles {
              color: $fucsia;
              font-size: 1.1em;
            }

            .footer-nav__list {
              .footer-nav__items {
                .footer-nav__link {
                  color: $morado;

                  span::before {
                    background-color: #fa07b61a;
                  }
                }
              }
            }
          }

          .footer__column-row--text {
            .footer-nav__titles {
              color: #3a3a3a;
            }
          }
        }

        #footerClose {
          position: fixed;
          right: 1rem;
          bottom: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          margin: 0;
          background: rgb(255 255 255 / 70%);
          border-radius: 100%;
          font-size: 1.5rem;
        }

        .footer-bar {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .site-footer {
    .col-full {
      .footer-content {
        .social-bar {
          .social-bar__list--footer {
            justify-content: center;

            .social-bar__item {
              margin-right: 0.7em;
              font-size: 0.8em;

              &:last-child {
                margin: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
