@import "../../../../themes/storefront_child/assets/utility/variables";
@import "../../../../themes/storefront_child/assets/utility/mixin";
@import "../../../../themes/storefront_child/assets/utility/extend";

// version mobile

@media (max-width: 800px) {
  .menu-bar.menu-bar--desktop {
    display: none;
  }

  .menu-bar.menu-bar--mobile {
    position: fixed;
    bottom: 0;
    z-index: 1000;
    display: block !important;
    width: 100%;
    padding: 0;
    background-color: $fucsia;

    .menuBar-list {
      display: flex;
      justify-content: space-evenly;
      height: auto;
      margin: 0;
      padding: 0;
      list-style: none;

      &__items {
        width: 100%;
        margin: 0;
        padding: 0;
        border-color: #fc32c2;
        border-right: 0.5px solid;
        border-left: 0.5px solid;

        &--cart {
          position: relative;
        }

        .menuBar-list__link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin: 0;
          padding: 5px 10px;
          font-size: 12px;
          font-weight: normal !important;
          text-decoration: none;

          .icon {
            width: 25px;
            height: 25px;
            margin-right: 0;
            fill: #fff;
          }
        }
      }
    }
  }

  /* numero de items carrito quantity */
  .number-of-items {
    position: absolute !important;
    top: -5px;
    left: 50% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0;
    background: #1dcdd3 !important;
    border-radius: 100%;
    font-size: 11px !important;
  }
}
@media (max-width: 414px) {
  .menu-bar.menu-bar--mobile {
    .menuBar-list {
      justify-content: space-around;

      &__items {
        padding: 0;

        .menuBar-list__link {
          margin: 0;
          padding: 3px 6px;
          color: #fff;
          transition: color 0.1s ease-in-out, background-color 0.1s ease-in-out;
          font-weight: 600;
        }
      }
    }
  }
}
